<!DOCTYPE html>
<head>
    <title>Modifier un Joueur</title>
</head>
<body>
    <h1> Modifier un Joueur</h1>
    <nav>
        <a href="/Ajout_Joueur">Ajouter un joueur</a>
        <a href="/Ajout_Tournoi">Ajouter un tournoi</a>
        <a href="/Joueurs">Voir les joueurs</a>
        <a href="/Tournois">Voir les tournois</a>
    </nav>
    <form method="POST">
        <label for = "Nom"> Nom:</label>
        <input type = "text" name= "Nom" value="{{joueur[1]}}" required><br><br>
        <label for = "Prenom"> Prenom:</label>
        <input type = "text" name= "Prenom" value="{{joueur[2]}}" required><br><br>
        <label for = "Age"> Age:</label>
        <input type = "number" name= "Age" value="{{joueur[3]}}" required><br><br>
        <label for = "Nom_Sport"> Nom du Sport:</label>
        <input type = "text" name= "Nom_Sport" value="{{joueur[4]}}" required><br><br>
        <input type = "submit" value="Modifier">
    </form>
</body>
</html>