<!DOCTYPE html>
<head>
    <title>Ajouter une Recette</title>
</head>
<body>
    <h1> Ajouter une Recette</h1>
    <nav>
        <a href ="/"> Accueil </a>
        <a href ="/ajouter_recette"> Ajouter une recette </a>   
    </nav>
    <form method="POST">
        <label for = "Nom"> Nom:</label>
        <input type = "text" name= "Nom" required><br><br>
        <label for = "Ingredients"> Ingredients:</label>
        <input type = "text" name= "Ingredients" required><br><br>
        <label for = "Preparation"> Preparation:</label>
        <input type = "text" name= "Preparation" required><br><br>
        <input type = "submit" value="Ajouter"> 
    </form>
</body>
</html>