<!DOCTYPE html>
<head>
    <title>Reservations</title>
</head>
<body>
    <h1>reservations</h1>
    <nav>
        <a href ="/">Home</a>
        <a href ="/ajouter_reservation">Ajouter reservation</a>
        <a href ="/verification_reservation">Verification reservation</a>
    </nav>
    {% if reservations %}
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numero_telephone</th>
                <th>creneau</th>
                <th>service</th>
            </tr>
            {% for x in reservations %}
            <tr>
                <td>{{x[1]}}</td>
                <td>{{x[2]}}</td>
                <td>{{x[3]}}</td>
                <td>{{x[4]}}</td>
                <td>{{x[5]}}</td>
                <td><a href="/supprimer_reservation/{{x[0]}}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Aucune reservation trouvée.</p>
    {% endif %}
</body>
</html>

    
    


    
   
