<!DOCTYPE html>
<head>
    <title>Rendez-vous</title>
</html>
<body>
    <h1>Liste des rendez-vous</h1>
    {% if x== True %}
    <button><a href="/add_appointment">Ajouter un rendez-vous</a></button>
    {% endif %}
    <table border="1">
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Dentiste</th>
        <th>Date</th>
        <th>Statut</th>
    </tr>

    {% for a in appointments %}
    <tr>
        <td>{{ a[0] }}</td>
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>{{ a[3] }}</td>
        <td>{{ a[4] }}</td>
        <td>
            <a href="/edit_appointment/{{ a[0] }}">Modifier</a>
            <a href="/delete_appointment/{{ a[0] }}">Supprimer</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>