<!DOCTYPE html>
<head>
    <title>Dentists</title>
</head>
<body>
    <nav><a href="/Accueil">Retour à l'accueil</a></nav>
    <h1>Liste des dentistes</h1>
    {% if x== True %}
    <button><a href="/add_dentist">Ajouter un dentiste</a></button>
    {% endif %}
    <table border="1">
        <tr>
            <th>Id_dentist</th>
            <th>utilisateur_id</th>
            <th>nom_dentist</th>
            <th>specialite</th>
            <th>email</th>
        </tr>
        {% for dentist in dentists %}
        <tr>
            <td>{{ dentist[0] }}</td> <!-- id dentist -->
            <td>{{ dentist[1] }}</td> <!-- utilisateur id  -->
            <td>{{ dentist[2] }}</td> <!-- nom dentist -->
            <td>{{ dentist[3] }}</td> <!-- spécialité -->
            <td>{{ dentist[4] }}</td> <!-- email -->
            <td>
                <a href="/edit_dentist/{{ dentist[0] }}">Modifier</a>
                <a href="/delete_dentist/{{ dentist[0] }}">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>